
html {

    box-sizing: border-box;
    font-size: 65.2%;
    font-family: 'Lato', sans-serif;

}

:root {

    --color-primary: #FF7F2A;
    --color-primary-light: #FFAA2A;
    --color-primary-dark:  #FF2A2A;
    
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --divider-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    --card-shadow: .1rem .3rem 1rem rgba(0, 0, 0, .2);
}

*, *::after, *::before {

    box-sizing: inherit;
    margin: 0;
    padding: 0;
}