body {
    background-color: var(--color-grey-light-1);
}

.header {

    // background-color: var(--color-primary);
    background-color: #ffffff;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
    box-shadow: var(--divider-shadow);
}

.main {

}

